<h1>University Registar</h1>

<p>@Html.ActionLink("Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("Students", "Index", "Students")</p>
<button>@Html.ActionLink("Department Home", "Index", "Departments")</button>